body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.frame {
    background-color: #25278d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.frame .overlap-wrapper {
    background-color: #25278d;
    width: 1096px;
    height: 788px;
}

.frame .overlap {
    position: relative;
    width: 406px;
    height: 492px;
    top: 128px;
    left: 355px;
}

.frame .rectangle {
    position: relative;
    width: 406px;
    height: 492px;
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    border-radius: 20%;
}

.frame .overlap-group {
    position: relative;
    height: 492px;
    background-color: #f6f6f6;
    border-radius: 26px;
}

.frame .group {
    position: relative;
    width: 320px;
    height: 268px;
    top: 112px;
    left: 43px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #0000000d;
}

.frame .overlap-group-wrapper {
    position: relative;
    width: 280px;
    height: 44px;
    top: 112px;
    left: 20px;
}

.frame .div {
    position: relative;
    height: 44px;
}

.frame .line {
    position: relative;
    width: 280px;
    height: 1px;
    top: 21px;
    left: 0;
    object-fit: cover;
    background-image: url("assets/icons/Line 1.png");
}

.frame .botton-swap {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    left: 118px;
    background-color: #25278d;
    border-radius: 22px;
    background-image: url("assets/icons/img_group.png");
    background-repeat: no-repeat;
    background-position: center;
}


.frame .group-2 {
    position: absolute;
    width: 284px;
    height: 77px;
    top: 20px;
    left: 20px;
}

.frame .div-wrapper {
    position: absolute;
    width: 141px;
    height: 45px;
    top: 32px;
    left: 139px;
    background-color: #eeeeee;
    border-radius: 7px;
}

.frame .text-wrapper {
    width: 75%;
    height: 20%;
    padding: 5px;
    border-radius: 4px;
    left: 15%;
    color: #3b3b3b;
    position: relative;
    top: 28%;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    background-color: transparent;
    border: transparent;
    outline: none;
}


.frame .group-3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 125px;
    height: 45px;
    top: 32px;
    left: 0;
}

.frame .img-2 {
    width: 45px;
    height: 45px;
    top: 0;
    left: 0;
    object-fit: cover;
}

#select-pais {
    font-size: 1em;
    padding: 10%;
    border: none;
    background-color: #fff;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 600;
    color: #26278D;
    appearance: none;
    background-image: url('assets/icons/seta.png');
    background-repeat: no-repeat;
    background-position: right 5% center;
    background-size: 16px;
    width: 200px;
    cursor: pointer;
    text-align: center;
    outline: none;
}

#select-ps {
    font-size: 1em;
    padding: 10%;
    border: none;
    background-color: #fff;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 600;
    color: #26278D;
    appearance: none;
    background-image: url('assets/icons/seta.png');
    background-repeat: no-repeat;
    background-position: right 5% center;
    background-size: 16px;
    width: 200px;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.frame .text-wrapper-2 {
    position: absolute;
    top: 11px;
    left: 58px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #25278d;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}



.frame .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #979797;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .group-4 {
    position: absolute;
    width: 284px;
    height: 77px;
    top: 171px;
    left: 20px;
}

.frame .text-wrapper-4 {
    left: 64px;
    color: #3c3c3c;
    position: absolute;
    top: 11px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .text-wrapper-5 {
    position: absolute;
    top: 59px;
    left: 80px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #1f2261;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 213px;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 417px;
    left: 96px;
    background-color: #4a5dcd;
    border-radius: 100px;
    overflow: hidden;
}

.frame .state-layer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 24px;
    position: relative;
    flex: 1;
    align-self: center;
    width: 100%;
    flex-grow: 1;
    color: #eeeeee;
    font-size: large;
    font-family: "Roboto-Regular", Helvetica;
}



